<!doctype html>
<html>
  <head>
    <title><%=companyName%>: Add book</title>
    <style type="text/css">
        .form {
          margin-left: auto;
          margin-right: auto;
          justify-content: center;
          background-color: rgb(235, 235, 235);
          width: 500px;
          align-items: center;
          padding: 50px;
          margin-top: 100px;
          border-radius: 2rem;
          text-align: center;
          
      }
    </style>
  </head>
  <body>
    <%- include('index.ejs') %>
    <div class="form">
        <h1>Student swap shop: Add product</h1>
        <form action="/productadded" method="POST">
        <p> Id: <input id="user_id" type="text" name="user_id"> </p>
        <p> Product name: <input id="name" type="text" name="name"> </p>
        <!-- <p> Description: <input id="description" type="text" name="description"> </p> -->
        <p>Price: <input id="price" type="text" name="price" ></p>
        <input type="submit" value="Add Book" >
        </form>
    </div>
  </body>
</html>