<!doctype html>
<html>
  <head>

    <style type="text/css">
            
      .navbar a {
        float: left;
        display: block;
        color: #000000;
        text-align: center;
        font-size: 20px;
        text-decoration: none;
        padding-right: 15px;
      }

      /* .navbar a:hover {
        background: #fbefd3;
        color: rgb(94, 140, 199);
      } */

      footer {
        background: rgb(77, 111, 156);
        padding: 48px;
        color: #000000;
      }

      .logo a {
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        text-decoration: none;
        color: #000;
        font-size: 30px;
        
        
      }
      .logo {
        width: auto;
        margin-right: 10%;
      }
      .bar {
        display: flex;
      }
        
    </style>

    <title>Portfolio Project</title>
  </head>
  <body>
    <footer>
      <div class="bar">
        <div class="logo">
          
          <a href="about"> Uni-Helper</a>
        </div>
      </div>
    </footer>

  </body>
</html>
