<!doctype html>
<html>
    <head>
        <title>Portfolio Project</title>
        <style type="text/css">

        footer {
            background: rgb(77, 111, 156);
            padding: 48px;
            color: #000000;
        }

        .logo a {
            font-family: 'Courier New', Courier, monospace;
            font-weight: bold;
            text-decoration: none;
            color: #000;
            font-size: 30px;
        }
        .logo {
            width: auto;
            margin-right: 10%;
        }
        .bar {
            display: flex;
        }
            
        </style>
    </head>
    <body>
        <footer>
            <div class="bar">
                <div class="logo">
                
                <a href="about"> Uni-Helper</a>
                </div>
            </div>
        </footer>

    </body>
</html>
