<!doctype html>
<html>
    <head>
        <title>About Portfolio</title>
        <style type="text/css">
                
            h1 {
                justify-content: center;
                width: auto;
                margin-left: auto;
                margin-right: auto;
                text-align: center;
            }
            .content {
                margin-left: auto;
                margin-right: auto;
                justify-content: center;
                background-color: rgb(235, 235, 235);
                width: 75%;
                align-items: center;
                padding: 50px;
                margin-top: 100px;
                border-radius: 2rem;
                text-align: center;
                margin-bottom: 10%;
            }

            p {
                font-size: 20px;
            }
        </style>
    </head>
    <body>
        <!-- load header -->
        <%- include('index.ejs') %>
        
        <h1>Welcome to <%=companyName %>!</h1>
        <!-- displays welcome image to user -->
        <div class="content">
            <p>
                Welcome to our website shop. <%=companyName %>'s goal is to make textbooks available to 
                all students. Head to the Search for products page to view the current listings available
                for sale. If you want to list your own books simply create an account and login in to make
                your own listings. Buyer's will contact you via email to buy your books. It's that simple!
                Our site helps make textbooks more accessible and allows students to make a buck off of their
                unneeded books. 
            </p>
        </div>
        <!-- load footer -->
        <%- include('footer.ejs') %>
        
    </body>
</html>