<!doctype html>
<html>
  <head>

    <style type="text/css">
            
      .navbar a {
        float: left;
        display: block;
        color: #000000;
        text-align: center;
        padding: 15px 15px;
        font-size: 20px;
      }

      .navbar a:hover {
        background: #fbefd3;
        color: rgb(35, 72, 35);
      }

      header {
        background: rgb(35, 72, 35);
        padding: 48px;
        color: #fbefd3;
      }
        
    </style>

    <title>Portfolio Project</title>
  </head>
  <body>
    <h1>Welcome to the beginning of my Portfolio Project</h1>

    <header>
      <div class="navbar">
        <a href="about">About</a>
        <!-- <p><a href="search">Search for books</a></p> -->
        <a href="register">Register with us</a>
        <a href="addProduct">Add a product</a>
        <a href="showProduct">Show products</a>
      </div>
    </header>

  </body>
</html>
