<!doctype html>
<html>
    <head>
        <title>Portfolio Project</title>
        <style type="text/css">
            .form {
                margin-left: auto;
                margin-right: auto;
                justify-content: center;
                background-color: rgb(235, 235, 235);
                width: 500px;
                align-items: center;
                padding: 50px;
                margin-top: 100px;
                border-radius: 2rem;
                text-align: center;
                margin-bottom: 10%;
                
            }

            .error_message {
                color: red;
            }

            .forminput {
                margin-left: auto;
                margin-right: auto;
                justify-content: center;
                align-items: center;
                
            }

            .field {
                margin: 0;
            }

            p {
                margin-bottom: 0;
                text-align: left;
            }

            .content {
                width: 50%;
                margin-left: 25%;
                margin-right: 25%;
            }
            input {
                width: 100%;
                padding: 10px 15px;
            }

            .submit {
                margin-top: 10%;
            }

        </style>
    </head>
    <body>
        <%- include('index.ejs') %>
        <div class="form"> 
            <h2>Log into your account</h2>

            <div>Login in to add your own listings.</div>

            <div class="content">
                <div class="error_message">
                    <% if (repeat) { %>
                        <p>Your email or password was incorrect. Please try again.</p>
                    <% } %>
                </div>
                <div class="forminput">
                    <form method="POST" action="/loggedin">
                            <div class="field">
                                <p>Email: </p>
                                <input id="email" type="email" name="email" placeholder="yourname@mail.com" required/>
                            </div>

                            <div class="field">
                                <p>Password: </p>
                                <input id="password" type="password" name="password" placeholder="********" required/>
                            </div>

                            <div class="submit">
                                <input type="submit" value="Log In" />
                            </div>
                        
                        </form>
                </div>

                <a href="register">Don't have an account?</a>

                <br><br>

                <a href="showPage?user_id=1">Lazy Login</a>
            </div>
        </div>

        <%- include('footer.ejs') %>
        
    </body>
</html>