<!doctype html>
<html>
  <head>
    <title>Portfolio Project</title>
  </head>
  <body>
    <h1>Register your account</h1>

    <form method="POST" action="/registered">
        <p>Email: <input id="email" type="email" name="email" /></p>
        <p>Password: <input id="password" type="password" name="password" /></p>
        <input type="submit" value="Register" />
    </form>
    </body>
</html>