<!doctype html>
<html>
  <head>
    <title>Search <%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Search <%=shopName%></h1>
    <form action="/showResult" method="GET">
      <p>Show products</p>
      <input id="user_id" type="text" name="user_id">
      <input type="submit" value="Search" >
    </form>
  </body>
</html>